<server_config>
  <plugins>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-physics-system"
            name="gz::sim::systems::Physics">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-user-commands-system"
            name="gz::sim::systems::UserCommands">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-scene-broadcaster-system"
            name="gz::sim::systems::SceneBroadcaster">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
      <render_engine>ogre</render_engine>
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-imu-system"
            name="gz::sim::systems::Imu">
    </plugin>
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-magnetometer-system"
            name="gz::sim::systems::Magnetometer">
    </plugin>
  </plugins>
</server_config>
